/*  针对打印预览的格式
---------------------------------------------------------------------------------------------------------------------*/
@media print {
    .noprint{ display:none; }
}

/*  全局格式
---------------------------------------------------------------------------------------------------------------------*/
#page {
    width:800px;
    margin:0px auto;
    font-size:16px;
}
h1,h2,h3{ text-align:center; }
table   { width:100%; font-size: 14px;}
table   { margin:0; border-collapse:collapse;}
table td{ padding:0; }
.noprint{ margin-left: 48%; }

/*  表单格式
---------------------------------------------------------------------------------------------------------------------*/
.form { margin-bottom:1em;margin-top:10px; }
/*.form td{ width:10%; padding-right:1em; }*/
.form td>div{ border-bottom: 1px solid black; margin-top:5px; }

.p_form { margin-bottom:1em;margin-top:10px; }
.p_form td{ width:15%; padding-right:1em; }
.p_form td>div{ border-bottom: 1px solid black; margin-top:5px; }


/*  表项格式
---------------------------------------------------------------------------------------------------------------------*/
/*
table {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
table th, table td{
    border-top: 1px solid black;
    border-left: 1px solid black;
}
table th { padding:4px ;}
*/
.table tr{ text-align:center; }


/*  模板格式
---------------------------------------------------------------------------------------------------------------------*/
#footer-template{ margin-top:1em;font-size: 14px;}


/*  分页打印格式
---------------------------------------------------------------------------------------------------------------------*/
.PageNext{page-break-after: always;}


.stub { 
  float: left;
  width: 1px;
}
.clear { clear: both }


