<div class= "depot-form">
  <% if flash[:notice] -%>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>
  <fieldset>
    <legend>请登录</legend>
      <% form_tag do %>
        <p>
          <label for="name">用户名：</label>
          <%= text_field_tag :log_name, params[:log_name] %>
        </p>
        <p>
          <label for="password">密码：</label>
          <%= password_field_tag :password, params[:password] %>
        </p>

        <p>
          <%= submit_tag "Login" %>
        </p>
      <% end %>
  </fieldset>
</div>
